<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"   >
    <link rel="stylesheet" href="css/profile/style.css">
    <title>Профіль</title>
</head>
<body>
    
    <header>
        <div class="wrapper">
            <div class="logo-container">
                <a id = "to-main-link">
                    <img class="logo-img" src="img/header/logo.png">                
                </a>               
                <a id = "to-main-href">      
                    <div class="name-container">SafeSwipe</div>
                </a> 
            </div>
            <div></div>
            <div></div>
            <div class="language-container">
                <a href = "/profile?lang=uk">
                    <img class="flag-img choosen" src="img/header/ukr.png">
                </a>
                <a href = "/profile?lang=en">
                    <img class="flag-img" src="img/header/usa.png">
                </a>    
            </div>
            <div class="profile-container">
                <a id = "profile-href">
                    <img class="profile-img" src="img/profile/avatar.png">
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="wrapper">
            <img id = "profile-img" class="big-profile-img">
            <h2 id = 'profile-name-label'>Lord Pepemundi</h2> 
            <button class="profile-button" id = "edit-profile-button">Редагувати профіль</button>
        </div>
        <div class="wrapper" id = "email-label">
           E-mail
        </div>
        <div class="wrapper">
            <input class="profile-input" id = "email-input" readonly="readonly" type="email" placeholder="lordpepemundi@gmail.com">
        </div>
        <div class="wrapper" id = "login-wrapper">
            Login
         </div>
        <div class="wrapper">
            <input class="profile-input" id = "login-input" readonly="readonly" type="text" placeholder="Lord Pepemundi">
        </div>
        <div class="wrapper" id = "password-wrapper">
            Змінити пароль
         </div>
         <div class="wrapper">
            <input class="profile-input" id = "old-password-input" readonly="readonly"  type="password" placeholder="Попередній пароль">
        </div>
        <div class="wrapper">
            <input class="profile-input" id = "new-password-input" readonly="readonly" type="password" placeholder="Новий пароль">
        </div>
        <div class="wrapper">
            <input class="profile-input" id = "confirm-password-input" readonly="readonly" type="password" placeholder="Підтвердіть новий пароль">
        </div>
        <div class="wrapper" id = "avatar-wrapper">
            Аватар
        </div>
        <div class="wrapper">
            <form id="uploadForm1" class="form-upload">
                <input type="file" id="myFiles" accept="image/png" />
            </form>
        </div>
        <div class="wrapper">
            <button class="profile-button" id = "save-changes-profile-button">Зберегти зміни</button>
            <a href="/auth/logout">
                <button class="profile-button" id = "log-out-profile-button">Вийти з аккаунта</button>
            </a>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element">
               <a id = 'contact-us'>Contact us</a>
            </div>
            <div class="footer-element"> 
                <a id = 'our-service'>Our Services</a>
            </div>
            <div class="footer-element">
                <a id = 'private-policy'>Privacy Policy</a>
            </div>
            <div class="footer-element"> 
                <a id = 'terms-conditions'>Terms & Conditions</a>
            </div>
            <div class="footer-element"> 
            </div>
        </div>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element"> 
                SafeSwipe Copyright © 2023
            </div>
            <div class="footer-element"> 
            </div>
        </div>
    </footer>
    <script src="script/profile.js"></script>
    <script src = "/script/profileUpload.js"></script>
    <script src = "/script/headerRedirects.js"></script>
</body>
</html>
