<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"   >
    <link rel="stylesheet" href="css/404/style.css">
    <title>Сторінку не знайдено</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo-container">
                <a id = "to-main-link">
                    <img class="logo-img" src="img/header/logo.png">                
                </a>  
                <a id = "to-main-href">   
                    <div class="name-container">SafeSwipe</div>
                </a>   
            </div>
            <div></div>
            <div></div>
            <div class="language-container">
                <a href = "/404?lang=uk">
                    <img class="flag-img choosen" src="img/header/ukr.png">
                </a>
                <a href = "/404?lang=en">
                    <img class="flag-img" src="img/header/usa.png">
                </a>    
            </div>
            <div class="profile-container">
                <a id = "profile-href">
                    <img class="profile-img" src="img/profile/avatar.png">
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="wrapper">
            <div></div>
            <label id = 'page-not-found'>Сторінку не знайдено!</label>
            <div></div>
        </div>
        <div class="wrapper">
            <div></div>
            <a class="to-main-button" id = 'to-main' href="main">На головну</a>
            <div></div>
        </div>
       
    </div>


    <footer>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element">
               <a id = 'contact-us'>Contact us</a>
            </div>
            <div class="footer-element"> 
                <a id = 'our-service'>Our Services</a>
            </div>
            <div class="footer-element">
                <a id = 'private-policy'>Privacy Policy</a>
            </div>
            <div class="footer-element"> 
                <a id = 'terms-conditions'>Terms & Conditions</a>
            </div>
            <div class="footer-element"> 
            </div>
        </div>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element"> 
                SafeSwipe Copyright © 2023
            </div>
            <div class="footer-element"> 
            </div>
        </div>
    </footer>
    <script src = '/script/404.js'></script>
    <script src = "/script/profileUpload.js"></script>
</body>
</html>
