<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"   >
    <link rel="stylesheet" href="css/lock/style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Головна</title>
</head>
<body>
    
    <header>
        <div class="wrapper">
            <div class="logo-container">
                <a id = "to-main-link">
                    <img class="logo-img" src="img/header/logo.png">                
                </a>                
                <a id = "to-main-href">   
                    <div class="name-container">SafeSwipe</div>
                </a>   
            </div>
            <div></div>
            <div></div>
            <div class="language-container">
                <a href = "?lang=uk" id = 'uk-redirect'>
                    <img class="flag-img choosen" src="img/header/ukr.png">
                </a>
                <a href = "?lang=en" id = 'en-redirect'>
                    <img class="flag-img" src="img/header/usa.png">
                </a>  
            </div>
            <div class="profile-container">
                <a id = "profile-href">
                    <img class="profile-img" src="img/profile/avatar.png">
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="wrapper">
            <img id="lock-image" src = "img/lock/user1/1.png">
            <div class="div-button"></div>
            <div>
                <button class="profile-button" id = "edit-lock-button">Змінити інформацію</button>
            </div>
        </div>
        <div class="wrapper hidden" id = 'hidden-wrapper'>
            <form id="uploadForm1" class="form-upload">
                <input type="file" id="myFiles" accept="image/png" />
            </form>
        </div>
        <div class="wrapper" id = "id-label">
            Ідентифікатор
        </div>
        <div class="wrapper">
            <label placeholder="lock1" id = 'placeholder-id'>456456</label>
        </div>
        <div class="wrapper" id = "id-label">
            Логування
        </div>
        <div class="wrapper">
            <label placeholder="lock1" id = 'placeholder-id'>456456</label>
        </div>
        <div class="wrapper" id = "name-label">
            Ім'я
        </div>
        <div class="wrapper">
            <input class="profile-input" id = "name-input" type="text" placeholder="lock1">
        </div>
        <div class="wrapper" id = 'adress-label'>
            Адреса
        </div>
        <div class="wrapper">
            <input class="profile-input" id = "adress-input" type="text" placeholder="Адреса">
        </div>
        <div class="wrapper">
            <button class="profile-button hidden" id = "save-changes-lock-button">Зберегти зміни</button>
        </div>
    </div>


    <footer>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element">
               <a id = 'contact-us'>Contact us</a>
            </div>
            <div class="footer-element"> 
                <a id = 'our-service'>Our Services</a>
            </div>
            <div class="footer-element">
                <a id = 'private-policy'>Privacy Policy</a>
            </div>
            <div class="footer-element"> 
                <a id = 'terms-conditions'>Terms & Conditions</a>
            </div>
            <div class="footer-element"> 
            </div>
        </div>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element"> 
                SafeSwipe Copyright © 2023
            </div>
            <div class="footer-element"> 
            </div>
        </div>
    </footer>
    <script src = "/script/lock.js"></script>
    <script src = "/script/profileUpload.js"></script>
    <script src = "/script/headerRedirects.js"></script>
</body>
</html>
