<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"   >
    <link rel="stylesheet" href="css/lock/style.css">
    <title>Головна</title>
</head>
<body>
    
    <header>
        <div class="wrapper">
            <div class="logo-container">
                <img class="logo-img" src="img/header/logo.png">                
                <div class="name-container">SafeSwipe</div>
            </div>
            <div></div>
            <div></div>
            <div class="language-container">
                <img class="flag-img choosen" src="img/header/ukr.png">
                <img class="flag-img" src="img/header/usa.png">
            </div>
            <div class="profile-container">
                <img class="profile-img" src="img/profile/avatar.png">
            </div>
        </div>
    </header>

    <div class="container">
        <div class="wrapper">
            <img class="lock-image" src = "img/lock/user1/1.png">
            <div class="div-button"></div>
        </div>
        <div class="wrapper">
            Ідентифікатор
        </div>
        <div class="wrapper">
            <label placeholder="lock1">456456</label>
        </div>
        <div class="wrapper">
            Ім'я
        </div>
        <div class="wrapper">
            <input class="profile-input" id = "email-input" readonly="readonly" type="text" placeholder="lock1">
        </div>
        <div class="wrapper">
            Адреса
        </div>
        <div class="wrapper">
            <input class="profile-input" id = "email-input" readonly="readonly" type="text" placeholder="Адреса">
        </div>

    </div>


    <footer>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element">
               <a id = 'contact-us'>Contact us</a>
            </div>
            <div class="footer-element"> 
                <a id = 'our-service'>Our Services</a>
            </div>
            <div class="footer-element">
                <a id = 'private-policy'>Privacy Policy</a>
            </div>
            <div class="footer-element"> 
                <a id = 'terms-cconditions'>Terms & Conditions</a>
            </div>
            <div class="footer-element"> 
            </div>
        </div>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element"> 
                SafeSwipe Copyright © 2023
            </div>
            <div class="footer-element"> 
            </div>
        </div>
    </footer>

    <script src = "/script/profileUpload.js"></script>
</body>
</html>
