<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"   >
    <link rel="stylesheet" href="css/regpage/style.css">
    <title>Реєстрація</title>
</head>
<body>
    
    <header>
        <div class="wrapper">
            <div class="logo-container">
                <img class="logo-img" src="img/header/logo.png">                
                <div class="name-container">SafeSwipe</div>
            </div>
            <div></div>
            <div></div>
            <div class="language-container">
                <a href="/registration?lang=uk">
                    <img class="flag-img choosen" src="img/header/ukr.png">
                </a>
                <a href="/registration?lang=en">
                    <img class="flag-img" src="img/header/usa.png">
                </a>
            </div>
            <div class="profile-container">
                <img class="profile-img" src="img/profile/avatar.png">
            </div>
        </div>
    </header>

    <div class="container">
        <h2 id = 'registraion-title'>Реєстрація</h2>
        <div class="form">
            <div class="input-group">
                <input type="login" placeholder="Логін" id="login" required>                
            </div>
            <div class="input-group">
                <input type="email" placeholder="Електронна пошта" id="email" required>
                
            </div>
            <div class="input-group">
                <input type="password" placeholder="Пароль"  id="password" required>
                
            </div>
            <div class="input-group">
                <input type="password" placeholder="Підтвердження"  id="confirm-password" required>
                
            </div>
            <div class="error-message">Неправильні дані</div>
            <div class="button-container">
                <button id="register">Зареєструватись</button>
            </div>
            <div class="button-container">
               <a href="" id = "have-account">Вже є аккаунт? Авторизація</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element">
               <a id = 'contact-us'>Contact us</a>
            </div>
            <div class="footer-element"> 
                <a id = 'our-service'>Our Services</a>
            </div>
            <div class="footer-element">
                <a id = 'private-policy'>Privacy Policy</a>
            </div>
            <div class="footer-element"> 
                <a id = 'terms-conditions'>Terms & Conditions</a>
            </div>
            <div class="footer-element"> 
            </div>
        </div>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element"> 
                SafeSwipe Copyright © 2023
            </div>
            <div class="footer-element"> 
            </div>
        </div>
    </footer>
    <script src="script/regpage.js"></script>
    <script src = "/script/profileUpload.js"></script>
</body>
</html>
