<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"   >
    <link rel="stylesheet" href="css/main/style.css">
    <title>Головна</title>
</head>
<body>
    
    <header>
        <div class="wrapper">
            <div class="logo-container">
                <a id = "to-main-link">
                    <img class="logo-img" src="img/header/logo.png">                
                </a>       
                <a id = "to-main-href">      
                    <div class="name-container">SafeSwipe</div>
                </a> 
            </div>
            <div></div>
            <div></div>
            <div class="language-container">
                <a href = "/main?lang=uk">
                    <img class="flag-img choosen" src="img/header/ukr.png">
                </a>
                <a href = "/main?lang=en">
                    <img class="flag-img" src="img/header/usa.png">
                </a>    
            </div>
            <div class="profile-container">
                <a id = "profile-href">
                    <img class="profile-img" src="img/profile/avatar.png">
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="wrapper">
            <div></div>
            <div id = "your-locks">Ваші замки</div>
            <div id="new-next" class="div-button">
                <a id = "new-lock-href">
                    <img src="/img/lock/plus.png">
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="lock-container">
                <img class="lock-image" src = "../../public/img/lock/user1/1.png">
                <div>Lock 1</div>
            </div>
            <div class="lock-container">
            </div>
            <div class="lock-container">
            </div>
            <div class="lock-container">
            </div>
        </div>

        <div class="wrapper">
            <div class="lock-container">
            </div>
            <div class="lock-container">
            </div>
            <div class="lock-container">
            </div>
            <div class="lock-container">
            </div>
        </div>
        <div class="wrapper">
            <div></div>
            <div id="button-previous" class="div-button">
                <img src = "/img/lock/prev.png">
            </div>
            <div></div>
            <div id="button-next" class="div-button">
                <img src = "/img/lock/next.png">
            </div>
            <div></div>
        </div>
    </div>


    <footer>
        <div class="wrapper">
            <div class="footer-element">    
            </div>
            <div class="footer-element">
               <a id = 'contact-us'>Contact us</a>
            </div>
            <div class="footer-element"> 
                <a id = 'our-service'>Our Services</a>
            </div>
            <div class="footer-element">
                <a id = 'private-policy'>Privacy Policy</a>
            </div>
            <div class="footer-element"> 
                <a id = 'terms-conditions'>Terms & Conditions</a>
            </div>
            <div class="footer-element"> 
            </div>
        </div>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element"> 
                SafeSwipe Copyright © 2023
            </div>
            <div class="footer-element"> 
            </div>
        </div>
    </footer>
    <script src = "/script/profileUpload.js"></script>
    <script src = "/script/main.js"></script>
    <script src = "/script/headerRedirects.js"></script>
</body>
</html>
