<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"   >
    <link rel="stylesheet" href="css/newLock/style.css">
    <title>Додавання замка</title>
</head>
<body>
    
    <header>
        <div class="wrapper">
            <div class="logo-container">
                <img class="logo-img" src="img/header/logo.png">                
                <div class="name-container">SafeSwipe</div>
            </div>
            <div></div>
            <div></div>
            <div class="language-container">
                <a href = "/newlock?lang=uk">
                    <img class="flag-img choosen" src="img/header/ukr.png">
                </a>
                <a href = "/newlock?lang=en">
                    <img class="flag-img" src="img/header/usa.png">
                </a>
            </div>
            <div class="profile-container">
                <a id ='profile-href'>
                    <img class="profile-img" src="img/profile/avatar.png">
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="wrapper" >
            <div></div>
            <div id = "new-lock-title">Новий замок</div>
            <div></div>
        </div>   
        

        <div class="wrapper" id = "name-input-title">
            Ім'я
        </div>  
        <div class="wrapper">
            <input class="profile-input" id = "name-input" type="text" placeholder="Ідентифікатор">           
        </div>
        <div class="wrapper"  id = "adress-input-title">
            Адреса
        </div>  
        <div class="wrapper">
            <input class="profile-input" id = "adress-input" type="text" placeholder="Ідентифікатор">           
        </div>
        <div class="wrapper" id = "image-input-title">
            Зображення
        </div>  
        <div class="wrapper">
            <form id="uploadForm1" class="form-upload">
                <input type="file" id="myFiles" accept="image/png" />
            </form>
        </div>  
        <div class="wrapper">
            <div></div>
            <button class="add-button" id = "add-button-title">Додати замок</button>
            <div></div>
        </div>  
    </div>


    <footer>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element">
               <a id = 'contact-us'>Contact us</a>
            </div>
            <div class="footer-element"> 
                <a id = 'our-service'>Our Services</a>
            </div>
            <div class="footer-element">
                <a id = 'private-policy'>Privacy Policy</a>
            </div>
            <div class="footer-element"> 
                <a id = 'terms-conditions'>Terms & Conditions</a>
            </div>
            <div class="footer-element"> 
            </div>
        </div>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element"> 
                SafeSwipe Copyright © 2023
            </div>
            <div class="footer-element"> 
            </div>
        </div>
    </footer>
    <script src = "/script/newlock.js"></script>
    <script src = "/script/profileUpdoad.js"></script>
</body>
</html>
