<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"   >
    <link rel="stylesheet" href="css/style.css">
    <title>SafeSwipe</title>
</head>
<body>
    
    <header>
        <div class="wrapper">
            <div class="logo-container">
                <img class="logo-img" src="img/header/logo.png">                
                <div class="name-container">SafeSwipe</div>
            </div>
            <div></div>
            <div></div>
            <div class="language-container">
                <a href = "?lang=uk">
                    <img class="flag-img choosen" src="img/header/ukr.png">
                </a>
                <a href = "?lang=en">
                    <img class="flag-img" src="img/header/usa.png">
                </a>    
            </div>
            <div class="profile-container">
                <img class="profile-img" src="img/profile/avatar.png">
            </div>
        </div>
    </header>

    <div class="container">
        <div class="wrapper">
            <div></div>
           <h2 id = "nfc-title">What NFC technology is?</h2>
           <div></div>
        </div>      
        <div class="wrapper">
            <img class="main-img" src="img/nfc.png">
           <p id = "nfc-paragraph">
                Nearly all of today’s smartphones and smartwatches are equipped with NFC technology. Whether you realize it or not, your phone’s NFC scanner is likely active right now. Don’t worry, though, as the NFC chip in your phone is a passive scanner that does nothing until you hold it within a couple of inches of another NFC device or tag. Like many features of your smartphone, it quietly sits in the background until it’s needed, but it can also be used to unlock a wide range of cool features that can make your life easier. 
           </p>
        </div>
        <div class="wrapper">
            <div></div>
            <h2 id = "lock-title">NFC locks</h2>
            <div></div>
        </div>      
        <div class="wrapper">
           <p id = "lock-paragraph">
                NFC can also be used to store digital keys that can unlock everything from your front door to your hotel room. For your home, you’ll need a compatible smart lock; however, many of the readers used in office campuses and hotels already use NFC. This means that you may soon be replacing your security card at work with your smartphone or smartwatch, and if you’re staying at one of the supported hotel chains, you’ll be able to have your room key delivered straight to your device without needing to go anywhere near the front desk.
           </p>
           <img class="main-img" id = "lock-image" src="/img/lock.png">
        </div>
        <div class="wrapper">
            <div></div>
            <h2 id = "get-started">Get Started</h2>
            <div></div>
        </div>  
        <div class="wrapper">
            <button id = "to-login-button">Authrisation</button>
            <button id = "to-registration-button">Registration</button>
        </div>  
    </div>


    <footer>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element">
               <a id = 'contact-us'>Contact us</a>
            </div>
            <div class="footer-element"> 
                <a id = 'our-service'>Our Services</a>
            </div>
            <div class="footer-element">
                <a id = 'private-policy'>Privacy Policy</a>
            </div>
            <div class="footer-element"> 
                <a id = 'terms-conditions'>Terms & Conditions</a>
            </div>
            <div class="footer-element"> 
            </div>
        </div>
        <div class="wrapper">
            <div class="footer-element"> 
            </div>
            <div class="footer-element"> 
                SafeSwipe Copyright © 2023
            </div>
            <div class="footer-element"> 
            </div>
        </div>
    </footer>
    <script src = '/script/index.js'></script>
    <script src = "/script/profileUpload.js"></script>
</body>
</html>
